.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.home-header {
  color: white;
  background-color: black;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}

.nav-item {
  font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
  text-align: center;
}

.jumbotron {
  display: grid;
  position: relative;
  min-height: 20vh;
  max-width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: black;
  /* margin-bottom: 400px; */
}

#park-image {
  height: 500px;
}

.jumbotron::before {
  content: "";
  background: url("./images/north-cascades-national-park-picture-lake-mount-shuksan_4x3.webp");
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  background-size: 100%;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#park-info {
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  font-weight: bolder;
}

#more-info {
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  font-weight: bolder;
}


.jumbotronLoggedIn {
  display: grid;
  position: relative;
  min-height: 30vh;
  max-width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.jumbotronLoggedIn::before {
  content: "";
  background: url("./images/north-cascades-national-park-picture-lake-mount-shuksan_4x3.webp");
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  background-size: 100%;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.parks-list {
  display: grid;
  text-align: center;
  align-items: center;
}

.liveCards{
  height: 25vh;
  overflow: scroll;
}


.content {
  position: sticky;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.datePopper {
  right: 0;
  left: 0;
}

h6 {
  display: grid;
  align-items: center;

}

.info-section {
  display: grid;

}
footer {
  position: fixed;
  background-color:rgba(18, 13, 13, 0.573);
  text-align: center;
  margin-top: auto;
  padding: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}
.button {
  background-color: blue;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.camp-image {
  max-width: 150px;
  max-height: 150px;
}

.camp-items {
  list-style: none;
  display: grid;
  align-items: center;
}

.camp-list {
  list-style: none;
  display: grid;
  align-items: center;
}

.activity-image {
  max-width: 150px;
  max-height: 150px;
}
